log:
  level: info
runner:
  capacity: 1
  timeout: 3h
  labels: []
container:
  network: {{ forgejo_runner_container_network }}
  privileged: {{ forgejo_runner_container_privileged | bool | lower }}
  options: {{ runner_instance.container_options | to_json }}
  valid_volumes: {{ runner_instance.valid_volumes | to_json }}
  docker_host: {{ runner_instance.podman_socket | to_json }}
server:
  connections:{% if runner_instance.connections | length == 0 %} {}{% endif %}
{% for connection in runner_instance.connections | dict2items %}
    {{ connection.key }}:
      url: {{ connection.value.url | to_json }}
{% if connection.value.uuid is defined %}
      uuid: {{ connection.value.uuid | to_json }}
{% endif %}
      token: {{ forgejo_runner_connection_tokens[runner_instance.name][connection.key] | to_json }}
      labels: {{ connection.value.labels | to_json }}
{% endfor %}
