[Unit]
Description=Forgejo Actions runner ({{ runner_instance.name }})
After=network-online.target podman.socket
Wants=network-online.target

[Service]
User={{ runner_instance.user }}
Group={{ runner_instance.group }}
SupplementaryGroups={{ runner_instance.supplementary_groups | join(' ') }}
WorkingDirectory={{ runner_instance.working_directory }}
ExecStart={{ forgejo_runner_binary }} daemon -c {{ runner_instance.config_file }}
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths={{ forgejo_runner_home }}

[Install]
WantedBy=multi-user.target
